service aisealhostservice /system/bin/aisealhostservice
    class core
    user system
    group system
    # AiSeal hosts multiple performance sensitive services like AppSearch or AI
    # inference, so we want to run it on all cores.
    task_profiles MaxPerformance
    disabled

on property:service.aiseal.enable=1
    enable aisealhostservice
    start aisealhostservice
on property:service.aiseal.enable=0
    stop aisealhostservice
